<ul class="nav nav-tabs nav-stacked">
	  <li class="active"><a href="#">Kategorie</a></li>
	  <li><a href="#">Wszystkie</a></li>
	  <li><a href="#">Teksty SEO</a></li>
	  <li><a href="#">Artykuły</a></li>
	  <li><a href="#">Treści dla stron</a></li>
</ul>
<form>
  <fieldset>
    <legend>Wyszukiwarka</legend>
    <input type="text" placeholder="Szukaj frazy" style="width: auto">
    <div class="input-append" style="margin-bottom: 10px;">
		  <input class="span2" id="appendedPrependedInput" type="text" placeholder="cena od" style="width: 62%">
		  <span class="add-on">PLN</span>
		</div>
    <div class="input-append" style="margin-bottom: 18px;">
		  <input class="span2" id="appendedPrependedInput" type="text" placeholder="cena do" style="width: 62%">
		  <span class="add-on">PLN</span>
		</div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
  </fieldset>
</form>