
	<table class="table">
		<thead>
			<tr>
				<th>Adres e-mail</th>
				<th>Liczba tekstów</th>
				<th>Ostatnie logowanie</th>
				<th>Stan konta</th>
			</tr>
		</thead>
		<tbody>	
		<% for user in @users %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.items.size %>
				<td><%= user.current_sign_in_at %>
				<td><%= user.normalized_balance %></td>
			</tr>
		<% end %>
		</tbody>
	</table>