%h2 Ustawienia powiadomień (beta)


%form{ :action => admin_save_mail_preferences_path }
	%table.table
		%tr
			%td 
				%label.checkbox

					- if current_admin.notify_new_item?
						%input{:type => 'checkbox', :name => "mailer[new_item]", :checked => 'checked' }
					- else
						%input{:type => 'checkbox', :name => "mailer[new_item]" }

					Wyślij e-mail, kiedy pojawi się tekst oczekujący na zatwierdzenie

	%input{ :type => 'submit', :class => 'btn btn-primary', :value => "Zapisz ustawienia" } 


			